.center{
    float: left;
    background-color: rgb(129, 216, 16);
}

textarea{
    background-color: rgb(149, 95, 95);

}
button{
    background-color: rgb(255, 255, 255);

}

*{
    background-color: rgb(142, 142, 164);
}